<main class="container mx-auto max-w-4xl p-6 bg-white rounded-lg shadow-md">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path, class: "text-blue-600 hover:text-blue-800 font-semibold" %>

  <div class="header mt-4 mb-6">
    <h1 class="text-3xl font-bold text-gray-800">
      <%= @quote.name %>
    </h1>
  </div>
</main>
